.our-team-section {
    background-color: var(--secondary-bg-color);
    padding: 94px 0px;
}

.our-team {
    &__header {
            margin-bottom: 50px;
            font-size: 36px;
            line-height: 1.166;
            text-align: center;
            letter-spacing: 0.03em;
            white-space: nowrap;
            color: var(--primary-text-color);
        }

        &__list {
                display: flex;
                justify-content: center;

                &__element-main {
                        width: 270px;
                        box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
                        border-radius: 0px 0px 4px 4px;
                        background-color: var(--primary-white-color);
                    }

                    &__element-main:not(:last-child) {
                        margin-right: 30px;
                    }
        }

        &__work {

            &-main {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.187;
                    text-align: center;
                    letter-spacing: 0.03em;
                    color: var(--primary-text-color);
                }

                &-additional {
                        margin-top: 10px;
                        margin-bottom: 16px;
                        font-size: 16px;
                        line-height: 1.187;
                        text-align: center;
                        letter-spacing: 0.03em;
                        color: var(--secondary-text-color);
                }
        }

                &__text-padding {
                    padding: 30px 0px;
                }

                &__link {
                        height: 44px;
                        width: 44px;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        fill: var(--primary-icon);
        
                        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

                    &:hover,
                    &:focus {
                        background-color: var(--hover-icon);
                    }
        
                    &:hover,
                    &:focus {
                        fill: var(--primary-white-color);
                    }
                }

        &__list-for-icons {
            display: flex;
            justify-content: center;

            &__item:not(:last-child) {
                margin-right: 10px;
            }
        }

        &__link:hover .team-icon,
        &__link:focus .team-icon {
                    fill: var(--primary-white-color);
        }


        @extend .container
}
