.our-peculiarities-section {
    background-color: var(--primary-white-color);
    padding: 94px 0px;
}

.peculiarities-content {

    &__header {

    }

        &__list {
            display: flex;
    
            &-element {
                width: 270px;
            }
    
                &-element:not(:last-child) {
                margin-right: 30px;
            }
        }

        .peculiarities-main-text {
                    margin-bottom: 10px;
                    font-size: 14px;
                    line-height: 1.142;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                    color: var(--primary-text-color);
                }
    
                .peculiarities-main-additional {
                    line-height: 1.714;
                    letter-spacing: 0.03em;
                    color: var(--secondary-text-color);
                }
    
                .peculiarities-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 120px;
                    margin-bottom: 30px;
                    background-color: var(--secondary-bg-color);

                    .icon {
                            fill: var(--primary-icon);
                            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                        }
                }

    @extend .container
}

